DJANGO_PROJECT_NAME=Vita Performance
DJANGO_SECRET_KEY=your-very-long-and-secure-randomly-generated-secret-key
DJANGO_DEBUG=False
DJANGO_HOSTS=yourdomain.com,www.yourdomain.com
DJANGO_HOSTS_URLS=https://yourdomain.com,https://www.yourdomain.com
DJANGO_DB_URL=mysql://user:password@host:3306/db_name