DJANGO_PROJECT_NAME=Vita Performance
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_HOSTS=localhost,127.0.0.1
DJANGO_HOSTS_URLS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_DB_URL=mysql://user:password@host:3306/db_name